

.font--weight--bold{
    font-weight: bold;
    color: black !important;
}
a{
    text-align: none;
    color: black;
}
.a--text--underline a:hover{
    text-decoration-line: underline;
}



/*  말 줄이기  */
.span---ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp : 2;
}











/*  */
#main{
    width: 1280px;
    height: 2296px;
    margin: auto;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*-----------------main-left-------------------------  */
#main-left{
    display: flex;
    flex-direction: column;
    width: 830px;
    /* background-color: aqua; */
}





/* #main-left div, */
#main-left section,
#main-right section {
    border: 1px solid #e3e5e8;
    /* background-color: #e3e5e8 ; */
    border-radius: 8px;
   
}

#main-left section,
#main-right section:not(#main-right--login){
    margin-top: 16px;
}
/* main-left--ad */

#main-left--ad{
    width: 100%;
    height: 130px;
    border-radius: 8px;
    overflow: hidden;
}

#main-left--ad img{
    /* border: 1px solid #e3e5e8; */
    border-radius: 8px;
    height: 130px;
    cursor: pointer;
}

/* main-left--newstand */
#main-left--newstand{
    /* height: 458px; */
    height: 426px; 
}

.section--title{
    padding: 18px 20px 17px;
    font-size: 16px;
}
.section--title a{
    color: #838383;
}
/* .section--title a:nth-child(1){
    color: black;
} */


/* .section--title a:hover,
.section--subCtn a:hover{
    text-decoration-line: underline;
} 
 a--text--underline a:hover로 빼둠!   

*/

#main-left--newstand .section--title a:nth-child(2){
    margin-left: 14px;
}
/* .section--title a:nth-child(2)::before{
    content:'';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #d3d5d7;
    top: 8px;
    left: -11px;
    position: absolute;
} */
 .dot{
    position: relative;
 }
.dot::before{
    content:'';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #d3d5d7;
    top: 8px;
    left: -11px;
    position: absolute;
}

.slash::before{
    content: '';
    width: 1px;
    height: 15px;
    background-color: #d3d5d7;
    top: 3px;
    left: 11px;
    position: absolute;
    transform: rotate(15deg);
}

.slash{
    padding-left: 26px;
    position: relative;
}
/* 
   slash 와 dot으로 정리했
.section--title a:nth-child(3),
.section--title a:nth-child(4),
.section--title a:nth-child(5),
.section--title a:nth-child(6){
    padding-left: 26px;
    position: relative;
} */
/* .section--title a:nth-child(3)::before,
.section--title a:nth-child(4)::before,
.section--title a:nth-child(5)::before,
.section--title a:nth-child(6)::before{
    content: '';
    width: 1px;
    height: 15px;
    background-color: #d3d5d7;
    top: 3px;
    left: 11px;
    position: absolute;
    transform: rotate(15deg);
} */

.section--subCtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #08080880;
    padding: 12px 20px;
    margin: 0px 20px;
    background-color: #f5f7f8;
    border-radius: 4px;
    line-height: 26px;
    font-size: 14px;
}


.section--subCtn--left a:nth-child(1)::after{
    content:'';
    background-image: url(img/sp_main.74b52318.png);
    background-size: 451px 441px;
    background-position: -125px -277px;
    background-repeat: no-repeat;
    width: 9px;
    height: 6px;
    display: inline-block;
    margin: 10px 0 0 5px;
}
.section--subCtn--left a:nth-child(2){
    position: relative;
    padding-left:25px ;
}
.section--subCtn--left a:nth-child(2)::before{
    content: '';
    width: 1px;
    height: 15px;
    background-color: #d3d5d7;
    top: 3px;
    left: 11px;
    position: absolute;
    /* transform: rotate(15deg); */

}

.section--subCtn--left a:nth-child(3){
    position: relative;
    padding-left: 8px;
    text-overflow: ellipsis;
}
.section--subCtn--left a:nth-child(3)::before{
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #d3d5d7;
    top: 8px;
    left: 0px;
    position: absolute;
}
.section--subCtn--right a:nth-child(2){
    position: relative;
    padding-left: 25px;
}
.section--subCtn--right a:nth-child(2)::before{
    content: '';
    width: 1px;
    height: 12px;
    /* border-radius: 50%; */
    background-color: #d3d5d7;
    top: 3px;
    left: 9px;
    position: absolute;
}
/* 언론사 grid */
#main-left--newstand .section--content{
    display: grid;
    grid-template-columns: repeat( 6 , 1fr);
    grid-gap: 1px;
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
    /* width: 790px; */
    height: 231px;
    margin: 18px 20px;
    text-align: center;
    border-radius: 4px;
}

.news--border--top--left{
    border-radius: 4px 0 0 0;
}
.news--border--top--right{
    border-radius: 0 4px 0 0;
}
.news--border--bottom--left{
    border-radius: 0 0 0 4px;
}
.news--border--bottom--right{
    border-radius: 0 0 4px 0;
}
#main-left--newstand .section--content > div{
    padding: 18px 0px;
    background-color: white;
    /* font-size: 16px;  */
    position: relative;
}

.news--follow{
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #2868f2;
    color: white;
    text-align: center;
    padding: 20px 0px;
}

.news--follow a{
    color: white;
    font-size: 13px;
}
.news--follow a:hover{
    font-weight: bold;
    text-decoration: underline;
}
.news--follow .slash{
    padding-left: 16px;
}
.news--follow .slash::before{
    transform: rotate(0deg);
    height: 12px;
    background-color: #6996f6;
    top: 3px;
    left: 9px;
}


#main-left--newstand .section--content > div:hover .news--follow{
    display: block;
 }

.section--footer{
    height: 30px;
    border-top: 1px solid #ebebeb ;
    padding: 9px 0px 11px;
    display: flex;
    justify-content: center;
    position: relative;
}
.section--footer div:nth-of-type(1){
    display: flex;
    flex-direction: row;
}   
.section--footer div:nth-of-type(1) div{
    padding: 0px 16px;
    display: flex;
}

.section--footer div:nth-of-type(1) div span{
    font-size: 13px;
    line-height: 33px;
}
.section--footer div:nth-of-type(1) div span:nth-child(4){
    color: #60606080;
}
.section--footer div:nth-of-type(1) div span:nth-child(2),
.section--footer div:nth-of-type(1) div span:nth-child(3){
    color: #606060;

}

.section--footer div:nth-of-type(1) div span:nth-child(1){
    color: #3a67ea;
    font-weight: bold;
}
.section--footer div:nth-of-type(1) div span:nth-child(2),
.section--footer div:nth-of-type(1) div span:nth-child(3){
    font-weight: bold;
}

.section--pre--btn,
.section--next--btn{
    width: 36px;
    height: 36px;
    border: 1px solid #ebebeb ;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.section--pre--btn::before{
    content: '';
    width: 6px;
    height: 6px;
    border-bottom: 2px solid #4e5155;
    border-left:  2px solid #4e5155;
    position: absolute;
    transform: rotate(45deg);
    top: 13px;
    left: 15px;
}
.section--next--btn::before{
    content: '';
    width: 6px;
    height: 6px;
    border-bottom: 2px solid #4e5155;
    border-right:  2px solid #4e5155;
    position: absolute;
    transform: rotate(-45deg);
    top: 13px;
    left: 13px;
}
        /* ------- */

.btn-view-list, .btn-view-thumb{
    position: absolute;
    border: none;
    cursor: pointer;
    background-color: transparent;
    top: 0px;
}
.btn-view-list{
    right: 49px;
    padding: 18px 9px 18px 20px;
}

.btn-view-thumb{
    right: 0px;
    padding: 18px 20px 18px 9px;
}

.btn-view-list::before, .btn-view-thumb::before{
    content: '';
    display: inline-block;
    background-image: url(img/sp_main.74b52318.png);
    background-size: 451px 441px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px
}
.btn-view-list::before{
    background-position: -399px -207px;
}
.btn-view-thumb::before{
    background-position: -201px -304px;
}
.btn-view-list:hover::before{
    background-position: -399px -186px;
}

.btn-view-thumb:hover::before{
    background-position: -180px  -304px;
}

/* ---------main-left--shopping------ */
#main-left--shopping{
    height: 560px;
}

.shopping--right--btn span{
    font-size: 13px;
    font-weight: bold;
    color: #606060;
    line-height: 30px;
}
.shopping--right--btn span:nth-child(2){
    color: #71717199;
}

#main-left--shopping .section--title{
    position: relative;
}

.shopping--right--btn{
    position: absolute;
    padding: 10px 0px;
    display: flex;
    top: 0;
    right: 20px;
}

.shopping--right--btn .section--pre--btn,
.shopping--right--btn .section--next--btn{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 1;

}

.shopping--right--btn .section--pre--btn{
   border-radius: 4px 0px 0px 4px;
   border-right: none;
}
.shopping--right--btn .section--next--btn{
    border-radius: 0px 4px 4px 0px;
}

.shopping--right--btn .section--pre--btn::before{
    top: 10px;
    left: 13px;
}
.shopping--right--btn .section--next--btn::before{
    top: 10px;
    left: 9px;
}

    /* --- */
#main-left--shopping .section--content{
    height: 376px;
    padding: 0px 20px 1px;
    display: grid;
    grid-template-columns: 2fr repeat(5 , 1fr);
    grid-template-rows: 1fr 1fr 2fr;
    gap: 8px;
    margin-bottom: 14px;
   
}
/* shopping - grid  */
/* #main-left--shopping .section--content div{
    border-radius: 4px;
    background-color: #f9fbfd;
    border: 1px solid #eceef0;
} */
.shopping--item--1, .shopping--item--7, .shopping--item--8 div,
div:not(.not-list)[class*='shopping--item'] div{
    border-radius: 4px;
    background-color: #f9fbfd;
    border: 1px solid #eceef0;
}

/* 
 위 코드로 변경
.shopping1--item--1, .shopping1--item--7, .shopping1--item--8 div,
.shopping1--item--2 div,.shopping1--item--3 div,.shopping1--item--4 div,.shopping1--item--5 div,
.shopping1--item--6 div, .shopping1--item--9 div,.shopping1--item--10 div,.shopping1--item--11 div,
.shopping1--item--12 div, .shopping1--item--13 div{
    border-radius: 4px;
    background-color: #f9fbfd;
    border: 1px solid #eceef0;
} */

.shopping--item--8 div,
div:not(.not-list)[class*='shopping--item'] div {
    overflow: hidden;
}

div:not(.not-list)[class*='shopping--item'] div img {
    width: 98px;
    height: 126px;
}
.shopping--item--8 div img{
    width: 248px;
    height: 148px;
}

/* .shopping--item--8 div img:hover,
div:not(.not-list)[class*='shopping--item'] div img:hover {
    transform: scale(1.1);
    overflow: hidden;
    transition-duration: 0.3s;
} */

img:not(.no-scale):hover {
    transform: scale(1.04);
    overflow: hidden;
    transition-duration: 0.3s;
}


#main-left--shopping .section--content div span{
    display: inline-block;
}


.shopping--item--1{
    width: 248px;
    height: 88px;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    display: flex;
    flex-direction: column;
    padding: 9px 11px 4px;
    box-sizing: border-box;
}
.shopping--item--1 div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
    padding-bottom: 5px;
}
.shopping--item--1 .dot::before{
    width: 3px;
    height: 3px;
    left: -17px;
}
.shopping--item--1 div:nth-child(3) .dot::before{
    left: -12px;
}

.shopping--item--7{
    width: 248px;
    height: 74px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0px;
    box-sizing: border-box;
    text-align: center;
}

.shopping--item--7 [class*='item--7--'] a{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    justify-content: center;
    align-items: center;
}

/* .item--7--mall a, .item--7--review a, .item--7--order a, .item--7--cart a{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    justify-content: center;
    align-items: center;

} */

.shopping--item--7 [class*='item--7--'] div{
    width: 34px;
    height: 34px;
    border: 1px solid rgba(238, 242, 248, .8);
    background-color: white;
    border-radius: 50%;
    position: relative;
}

/* .item--7--mall div, .item--7--review div, .item--7--order div, .item--7--cart div{
    width: 34px;
    height: 34px;
    border: 1px solid rgba(238, 242, 248, .8);
    background-color: white;
    border-radius: 50%;
    position: relative;
} */

.shopping--item--7 [class*='item--7--'] a span{
    padding-top: 5px;
    color: #404040;
}
/* 
.item--7--mall a span, .item--7--review a span, .item--7--order a span, .item--7--cart a span{
    padding-top: 5px;
    color: #404040;
} */

.shopping--item--7 [class*='item--7--'] div::before{
    position: absolute;
    content: '';
    background-image: url('img/sp_main.f66d1e15.png');
    background-size: 158px 137px;
    width: 100%;
    height: 100%;
    display: inline-block;
    top: 0;
    left: 0;
}
/* .item--7--mall div::before, .item--7--review div::before, .item--7--order div::before, .item--7--cart div::before{
    position: absolute;
    content: '';
    background-image: url('img/sp_main.f66d1e15.png');
    background-size: 158px 137px;
    width: 100%;
    height: 100%;
    display: inline-block;
    top: 0;
    left: 0;

} */

.item--7--mall div::before{
    background-position: -33px 0px;
}
.item--7--review div::before{
    background-position: -66px -33px;
}
.item--7--order div::before{
    background-position: -33px -33px;
}
.item--7--cart div::before{
    background-position:-19px -121px;
    width: 17px !important;
    height: 16px !important;
    top: 8px !important;
    left: 8px !important;
}


.shopping--item--8{
    width: 248px;
    height: 173px;
    text-align: center;
}
.shopping--item--8 div{
    height: 146px;    
}
.shopping--item--8 span{
    height: 19px;
    line-height: 19px;
    margin-top: 8px;
    font-size: 13px;
    
}

.shopping--item--2 ,.shopping--item--3 ,.shopping--item--4 ,.shopping--item--5 ,
.shopping--item--6 {
    grid-row: 1 / 3;
}
div:not(.not-list)[class*='shopping--item'] {
    width: 98PX;
    height: 172PX;
    text-align: start;
}

div:not(.not-list)[class*='shopping--item'] div{
    height: 124PX;
    /* padding-bottom: 14px; */
    
    /*  테두리입니당 */
    border-radius: 4px;
    background-color: #f9fbfd;
    border: 1px solid #eceef0;
}


div:not(.not-list)[class*='shopping--item'] span{
    height: 19px;
    padding-top: 4px;
    font-size: 13px;
    line-height: 19px;
    cursor: pointer;
}
div:not(.not-list)[class*='shopping--item'] span:hover,
.shopping--item--8 span:hover{
    text-decoration-line: underline ;
    /* cursor: pointer; */
}
div:not(.not-list)[class*='shopping--item'] span:nth-of-type(2){
    padding-top: 0;
}

    /* --- */
#main-left--shopping .section--subCtn{
    padding: 8px 20px 14px;
    height: 21px;
    margin: 0px 20px 18px;
   
    justify-content: start;
    /* display: inline-block; */

}
#main-left--shopping .section--subCtn strong{
    padding-right: 19px;
    color: black;
}
#main-left--shopping .section--subCtn a{
    font-size: 14px;
}
#main-left--shopping .section--subCtn a:hover{
    text-decoration: underline;
}
#main-left--shopping .section--subCtn .dot::before{
    width: 3px;
    height: 3px;
    top: 11px;
}
#main-left--shopping .section--subCtn img{
    height: 13px;
    margin-right: 8px;
}
.today-pick{
    color: #9858f5;
}
#main-left--shopping .section--footer{
    height: 36px;
    padding: 8px 0px 10px ;
}
#main-left--shopping .section--footer span:nth-of-type(1){
    color: #9858f5;
}

/* ---------------- main-left--recommend ------------------ */
#main-left--recommend{
    height: 1132px;
}

#main-left--recommend .section--title {
    display: flex;
    flex-direction: row;
}
#main-left--recommend .section--title strong{
    color: black;
}
/*  */
#main-left--recommend .section--subCtn{
    margin: 0px 20px 18px;
    height: 50px;
    align-items: center;
    padding: 0px 20px 0px 10px;
}
#main-left--recommend .recommend-section--subCtn--left{
    display: flex;
    flex-direction: row;
    
}
#main-left--recommend .recommend-section--subCtn--left a{
    font-size: 14px;
    padding: 0px 12px;
    border: 1px solid #ebebeb;
    background-color: white;
    color: #404040;
    margin: 0px 2px;
    border-radius: 18px;
    line-height: 34px;
    height: 34px;
    
}
#main-left--recommend .recommend-section--subCtn--left a:nth-of-type(1){
    background-color: #5290ff;
    border-color: rgba(0,0,0,.04);
    color: white;
    font-weight: bold;
}

/* --- grid-----*/

#main-left--recommend .section--content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:  repeat(3, 1fr);
    margin: 0 20px 20px;
    gap: 20px;
}

#main-left--recommend .section--content a{
    height: 194px;
    display: flex;
    flex-direction: column;
}

#main-left--recommend .section--content a > span{
    margin-top: 10px;
    font-size: 14px;
}
#main-left--recommend .section--content a:hover span{
    text-decoration: underline;
    
    
}
#main-left--recommend .section--content a div:nth-of-type(1) {
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #eceef0;
}
#main-left--recommend .section--content a div:nth-of-type(1) img{
    border-radius: 4px;
    width: 100%;
    height: 120px;
}

    /* 채널 이름 */
.channel--img--name{
    font-size: 13px;
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    color: #606060;
    
}

.channel--img--name span:nth-child(1){
    width: 20px;
    height: 20px;
    /* background-color: #9858f5; */
    border: 1px solid #eceef0;
    margin-right: 5px;
    border-radius: 50%;
    overflow: hidden;
}

.channel--img--name span:nth-child(1) img{
    width: 20px;
    height: 20px;
}

#main-left--recommend .section--content div span:nth-child(2){
    text-decoration: none;
}


.shopping--dona--btn, .shopping--funding--btn,  .shopping--ad--btn{
    position: relative;
}

.shopping--dona--btn::before, .shopping--funding--btn::before{
    content: '';
    position: absolute;
    display: inline;
    width: 11px;
    height: 13px;
    background-image: url(img/sp_main.74b52318.png);
    background-size: 426px 426px;
    background-position: 12px 172px;
    top: 4px;
    left: 4px;
    z-index: 3;
    background-color: transparent;
}
.shopping--dona--btn::after, .shopping--funding--btn::after{
    position: absolute;
    display: inline;
    background-color: rgba(0,0,0,.5);
    width: 32px;
    height: 18px;
    top: 1;
    left: 1;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-left: 18px;
}
.shopping--dona--btn::after{
    content: '기부';
}
.shopping--funding--btn::after{
    content: '펀딩';
}


.shopping--dona--btn img, .shopping--funding--btn img{
    /* z-index: 1; */
}
.shopping--ad--btn::before{
    position: absolute;
    top: 0;
    right: 3px;
    content: '';
    background-image: url(img/ad_btn.png);
    background-size: 100px 90px;
    display: inline;
    width: 44px;
    height: 22px;
    background-position: 0px -16px;
    cursor: pointer;
}

.shopping--ad--btn p{
    height: 20px;
    font-size: 14px;
    color: #606060;
    margin: 0;
    /* height: 26px;
    color: 10px; */
}
.shopping--ad--btn p:nth-of-type(2){
    height: 26px;
    font-size: 10px;
    margin-top: 2px ;
}










/* feed box */
.feed--box{
    height: 274px;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}
.feed--box strong{
    /* height: 60px; */
    border-top: 1px solid #ebebeb;
    padding: 23px 0px 15px;
    justify-content: start;
}
.feed--box div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.feed--box div a{
    width: 108px;
    height: 230px;
    display: flex;
    flex-direction: column;
}
.feed--box div img{
    width: 100%;
    height: 156px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.feed--box div a > span:nth-of-type(1){
    height: 41px;
    font-size: 14px;
    font-weight: 500;
    color: #101010;
    margin-top: 10px;
    width: 108px;
}





.feed--box div a:hover span:nth-of-type(1){
    text-decoration: underline;
}

.feed--box div a > span:nth-of-type(2){
    text-decoration: none;
    height: 20px;
    margin-top: 4px;
    font-size: 13px;
    color: #606060;
}

.feed--box{
    margin-bottom: 23px;
}

#main-left--recommend .section--footer{
    height: 56px;
    padding: 0;
    cursor: pointer;
}

#main-left--recommend .section--footer div{
    font-weight: bold;
    align-items: center;
    font-size: 13px;
    color: #404040;
    position: relative;
}

.flus-icon::before, .flus-icon::after{
    position: absolute;
    content: '';
    display: inline-block;
    border: 1px solid #5a6dfe ;
    background-color: #5a6dfe;
    width: 10px;

    top: 28px;
    left: 6px;
}

.flus-icon::after{
    transform: rotate(90deg);
   
}


/*-----------------------------------------main-right----------------------------------------*/




/* ------------------------------footer------------------------ */


footer{
    /* width: 1280px;
    height: 431px; */
    background-color: #f5f6f7;
   
}
.footer--bottom--hr{
    border-bottom: 1px solid #ebebeb;
    width: 100%;
}

footer > div{
    width: 1280px;
    height: 352px;
    margin: auto;
    padding-bottom: 78px;
}

.footer--top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1280px;
    height: 100px;
    padding: 30px 0px;
}

.footer--top a{
    width: 410px;
    height: 100px;
    display: flex;
    flex-direction: row;
}


.footer--top a > div:first-child{
    width: 160px;
    height: 100px;
    border-radius: 4px;
    overflow: hidden;
}
.footer--top a img{
    width: 160px;
    height: 100px;
    border-radius: 4px;
}

.footer--top a > div:last-child{
    display: flex;
    flex-direction: column;
    padding: 5px 3px 0px 18px;
}


.footer--top .footer--public-subtitle{
    height: 20px;
    padding: 0px 6px;
    font-size: 13px;
    color: white;
    background-color: #a0adb2;
    border-radius: 4px;
    width: max-content;
    /* font-weight: bold; */
}
.footer--top .footer--public-title{
    font-size: 14px;
    margin-top: 10px;
}

.footer--top a:hover .footer--public-title{
    text-decoration: underline;
}

.footer--top a div:last-child span:nth-of-type(1),
.footer--top a div:last-child span:nth-of-type(2){
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #545454;
}

.footer--top a div:last-child  span:nth-of-type(1){
    margin-top: 6px;
}

/* --------- */


/* --------- */
.footer--middle--notice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 21px 0px;
    font-size: 13px;
}
.footer--middle--notice a{
    color: #101010;
}
.footer--middle--notice a:hover{
    text-decoration: underline;
}

.footer--middle--left a:nth-child(2){
    padding-left: 5px;
    color: #404040;
}

.footer--middle--right a{
    font-weight: bold;
    padding-right: 20px ;
    position: relative;
}

.footer--middle--right a::after{
    content: '';
    display: inline;
    top: -1px;
    right: 0;
    text-decoration: none;
    background-image: url(img/sp_main.74b52318.png);
    background-size: 443px 424px;
    background-position: 120px 631px;
    margin: 3px 0 0 10px;
    width: 11px;
    height: 14px;
    position: absolute;
}


/*-------  */

.footer--middle--partner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0px;
}

.footer--middle--partner strong{
    font-size: 13px;
    color: #101010;
}
.footer--middle--partner span,
.footer--middle--partner a{
    font-size: 13px;
    color: #404040;
    cursor: pointer;
}
.footer--middle--partner span:hover,
.footer--middle--partner a:hover{
    text-decoration: underline;
}

.footer--part--dev strong:nth-of-type(1),
.footer--part--dev strong:nth-of-type(2){
    width: 87px;
    padding-right: 9px;
    display: inline-block;
}
.footer--middle--dev{
    margin-top: 10px;
}

.footer--middle--partner .slash,
.footer--bottom .slash{
    padding-left: 15px;
}
.footer--middle--partner .slash::before,
.footer--bottom .slash::before{
    transform: rotate(0deg);
    height: 12px;
    left: 4px;
}
.footer--bottom .slash::before{
    left:7px
}

.footer--brand--logo{
    display: flex;
    flex-direction: row;
}
.footer--brand--logo img{
    width: 48px;
    height: 48px;
    margin-left: 11px;
    cursor: pointer;
}
.footer--brand--logo strong,
.footer--brand--logo a{
    margin-top: 5px;
    padding-right: 0px;
}
.footer--whale--logo,
.footer--naver--logo{
    display: flex;
    flex-direction: row;
}
.footer--whale--logo div,
.footer--naver--logo div{
    display: flex;
    flex-direction: column;
}

.footer--naver--logo{
    margin-left: 30px;
}





/* ----footer bottom ---------- */

.footer--bottom{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer--bottom span{
    font-size: 13px;
    color: #404040;
    cursor: pointer;
}

.footer--bottom span:last-child{
    color: #101010;
    font-weight: bold;
}
.footer--bottom span:hover{
    text-decoration: underline;
}